<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <dubbo:reference interface="cn.e3mall.order.service.OrderService" id="orderService" check="true"
                     version="${dubbo.version}"/>
    <dubbo:reference interface="cn.e3mall.cart.service.CartService" id="cartService" check="true"
                     version="${dubbo.version}"/>
    <dubbo:reference interface="cn.e3mall.sso.service.TokenService" id="tokenService" check="true"
                     version="${dubbo.version}"/>

</beans>
