<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	<!-- 包扫描地址 -->
	<context:component-scan base-package="cn.e3mall.order.controller"></context:component-scan>
	<context:property-placeholder location="classpath:conf/resource.conf"/>
	<!-- 同时配置完处理器映射器和处理器适配器 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 解除springmvc对静态资源的限制 -->
	<mvc:default-servlet-handler />
	<!-- 配置资源映射 -->
	<mvc:resources location="/css/" mapping="/css/**/"></mvc:resources>
	<mvc:resources location="/js/" mapping="/js/**/"></mvc:resources>
	<mvc:resources location="/images/" mapping="/images/**/"></mvc:resources>
	<!-- 配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<mvc:interceptors>
		<mvc:interceptor>
		<mvc:mapping path="/**"/>
			<bean class="cn.e3mall.order.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 引用dubbo服务 -->
	<dubbo:application name="e3-order-web"/>
	<dubbo:registry protocol="zookeeper" address="192.168.78.134:2181"/>	
	<dubbo:reference interface="cn.e3mall.order.service.OrderService" id="orderService" />
	<dubbo:reference interface="cn.e3mall.cart.service.CartService" id="cartService" />
	<dubbo:reference interface="cn.e3mall.sso.service.TokenService" id="tokenService" />
</beans>